/node_modules
/public/hot
/public/storage
/public/hot
/public/storage
/public/mix-manifest.json
/public/js
/public/*.js
/public/css
/public/images
/public/fonts
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env_testing
.buildpath
.project